<!DOCTYPE html>
<html>
<title>ProcEase</title>
<link rel="icon" type="image/png" href="/images/icon3.png" >
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/style/w3.css">
<link rel="stylesheet" type="text/css" href="/style/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Arima+Madurai">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>
body{
	background-color: #0a1321;
}
.about {
	font-family: 'Arima Madurai';
	color:#dbdbdb;
	font-size:30px;

	padding:5px 10px;
}
.about-page {

	margin:2px;
	display:block;
}
h4 {
	font-family:'Tangerine',serif;
	padding:5px 15px;
	color:white;
	font-size:38px;
}
p {
	font-size:18px;
	font-family:calibri;
	padding:0px 35px;
	color: white;
}
</style>
<body id='MyPage' onload="startFn()">
<!-- Navbar -->
<div class="w3-top">
	<% include ../partials/navbar.ejs %>
</div>
<div class='w3-container w3-padding-64 about'>
	About the Site:
	<div class='about-page'>
		<h4>Teams</h4>
		<p>List of all team and its personnel</p>
	</div>
	<div class='about-page'>
		<h4>Roster</h4>
		<p>Create, update and delete roster</p>
	</div>
	<div class='about-page'>
		<h4>Claims</h4>
		<p>Download the claims csv file for the roster created in the database</p>
	</div>
	<div class='about-page'>
		<h4>Applications and Databases supported</h4>
		<p>List of applications, databases and support team involved</p>
	</div>
	
</div>
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
	<% include ../partials/footer.ejs %>
</footer>
<script>
function w3_open() {
    var x = document.getElementById("mySidenav");
    x.style.width = "300px";
    x.style.textAlign = "center";
    x.style.fontSize = "40px";
    x.style.paddingTop = "10%";
    x.style.display = "block";
}
function w3_close() {
    document.getElementById("mySidenav").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
function startFn(){
	console.log(document.getElementById('user_id').innerHTML);
	if (document.getElementById('user_id').innerHTML==='Hi, Guest'){
		$('[title=Login]').show();
		$('[title=Logout]').hide();
	}else {
		$('[title=Login]').hide();
		$('[title=Logout]').show();
	}
}
</script>
</body>
</html>